<script>
import vBreadcrumbs from '..';

export default {
    name   : "vBreadcrumbs",
    mixins : [ vBreadcrumbs, ],
}
</script>

<style lang="stylus">
    .v-breadcrumbs
        &__item
            display: inline
            color #666
        &__link
            display: inline
            color #333
        &__divider
            display: inline
            margin: 0 12px
</style>
